@charset "UTF-8";
.appear.up .item {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.appear.down .item {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.appear.left .item {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.appear.right .item {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.appear .item {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.appear.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.inview .item:nth-child(1) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.appear.inview .item:nth-child(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.appear.inview .item:nth-child(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.appear.inview .item:nth-child(4) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.appear.inview .item:nth-child(5) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.appear.inview .item:nth-child(6) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.appear.inview .item:nth-child(7) {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}

.appear.inview .item:nth-child(8) {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

.appear.inview .item:nth-child(9) {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

.title-slide {
  position: relative;
  overflow: hidden;
}

.title-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  opacity: 0;
}

.title-slide.inview .keyvisual__title {
  opacity: 1;
  -webkit-animation-name: kf-letter-slide;
          animation-name: kf-letter-slide;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.title-slide.inview .keyvisual__subtitle {
  opacity: 1;
  -webkit-animation-name: kf-subtitle-slide;
          animation-name: kf-subtitle-slide;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes kf-letter-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes kf-letter-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes kf-subtitle-slide {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes kf-subtitle-slide {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.animate-title,
.gsap-animation {
  opacity: 0;
}

.animate-title.inview,
.gsap-animation.inview {
  opacity: 1;
}

.animate-title.inview .letter,
.gsap-animation.inview .letter {
  display: inline-block;
}

.animate-title .letter,
.gsap-animation .letter {
  opacity: 0;
}

.animate-title.inview .letter {
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animate-title.inview .letter:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}

.animate-title.inview .letter:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

.animate-title.inview .letter:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.animate-title.inview .letter:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

.animate-title.inview .letter:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.animate-title.inview .letter:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.animate-title.inview .letter:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.animate-title.inview .letter:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

.animate-title.inview .letter:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.animate-title.inview .letter:nth-child(10) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animate-title.inview .letter:nth-child(11) {
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
}

.animate-title.inview .letter:nth-child(12) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.animate-title.inview .letter:nth-child(13) {
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
}

.animate-title.inview .letter:nth-child(14) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

.animate-title.inview .letter:nth-child(15) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.animate-title.inview .letter:nth-child(16) {
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
}

.animate-title.inview .letter:nth-child(17) {
  -webkit-animation-delay: 0.68s;
          animation-delay: 0.68s;
}

.animate-title.inview .letter:nth-child(18) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.animate-title.inview .letter:nth-child(19) {
  -webkit-animation-delay: 0.76s;
          animation-delay: 0.76s;
}

.animate-title.inview .letter:nth-child(20) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.animate-title.inview .letter:nth-child(21) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

.animate-title.inview .letter:nth-child(22) {
  -webkit-animation-delay: 0.88s;
          animation-delay: 0.88s;
}

.animate-title.inview .letter:nth-child(23) {
  -webkit-animation-delay: 0.92s;
          animation-delay: 0.92s;
}

.animate-title.inview .letter:nth-child(24) {
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
}

.animate-title.inview .letter:nth-child(25) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animate-title.inview .letter:nth-child(26) {
  -webkit-animation-delay: 1.04s;
          animation-delay: 1.04s;
}

.animate-title.inview .letter:nth-child(27) {
  -webkit-animation-delay: 1.08s;
          animation-delay: 1.08s;
}

.animate-title.inview .letter:nth-child(28) {
  -webkit-animation-delay: 1.12s;
          animation-delay: 1.12s;
}

.animate-title.inview .letter:nth-child(29) {
  -webkit-animation-delay: 1.16s;
          animation-delay: 1.16s;
}

.animate-title.inview .letter:nth-child(30) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.animate-title.inview .letter:nth-child(31) {
  -webkit-animation-delay: 1.24s;
          animation-delay: 1.24s;
}

.animate-title.inview .letter:nth-child(32) {
  -webkit-animation-delay: 1.28s;
          animation-delay: 1.28s;
}

.animate-title.inview .letter:nth-child(33) {
  -webkit-animation-delay: 1.32s;
          animation-delay: 1.32s;
}

.animate-title.inview .letter:nth-child(34) {
  -webkit-animation-delay: 1.36s;
          animation-delay: 1.36s;
}

.animate-title.inview .letter:nth-child(35) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.animate-title.inview .letter:nth-child(36) {
  -webkit-animation-delay: 1.44s;
          animation-delay: 1.44s;
}

.animate-title.inview .letter:nth-child(37) {
  -webkit-animation-delay: 1.48s;
          animation-delay: 1.48s;
}

.animate-title.inview .letter:nth-child(38) {
  -webkit-animation-delay: 1.52s;
          animation-delay: 1.52s;
}

.animate-title.inview .letter:nth-child(39) {
  -webkit-animation-delay: 1.56s;
          animation-delay: 1.56s;
}

.animate-title.inview .letter:nth-child(40) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

@-webkit-keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hamburger-menu {
  position: fixed;
  top: 16px;
  right: 20px;
  width: 300px;
}

.hamburger-menu__button {
  cursor: pointer;
  background-color: unset;
}

.hamburger-menu__button > span {
  display: block;
  width: 23px;
  height: 2px;
  margin-bottom: 6px;
  background-color: #070707;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.hamburger-menu__button > span:last-of-type {
  margin-bottom: 0;
}

.mobile-menu {
  position: fixed;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.mobile-menu__main {
  margin-top: 60px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.mobile-menu__item {
  display: block;
  margin-bottom: 40px;
  opacity: 0;
  text-align: center;
  -webkit-transform: translate3d(0, 0, -1000);
          transform: translate3d(0, 0, -1000);
  -webkit-transition: opacity 0.2s,-webkit-transform 0.3s;
  transition: opacity 0.2s,-webkit-transform 0.3s;
  transition: transform 0.3s,opacity 0.2s;
  transition: transform 0.3s,opacity 0.2s,-webkit-transform 0.3s;
}

.mobile-menu__item:last-of-type {
  margin-bottom: 0;
}

#content {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.menu-open #content {
  opacity: 0;
}

.menu-open .hamburger-menu__button > span:nth-child(1) {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transform: translateY(8px) rotate(135deg);
          transform: translateY(8px) rotate(135deg);
}

.menu-open .hamburger-menu__button > span:nth-child(2) {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transform: translatex(18px) scale(0);
          transform: translatex(18px) scale(0);
}

.menu-open .hamburger-menu__button > span:nth-child(3) {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transform: translateY(-8px) rotate(-135deg);
          transform: translateY(-8px) rotate(-135deg);
}

.menu-open .mobile-menu {
  top: 80px;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.menu-open .mobile-menu__item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.navigation-font {
  position: relative;
  display: inline-block;
}

.navigation-font::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #63d5e8;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation-font:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.cover-slide {
  position: relative;
  overflow: hidden;
}

.cover-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  background-color: #63d5e8;
}

.cover-slide.inview::after {
  opacity: 1;
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.image-zoom {
  opacity: 0;
  vertical-align: bottom;
}

.inview .image-zoom {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-animation-name: kf-image-show;
          animation-name: kf-image-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.inview .image-zoom:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes kf-image-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-image-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

.hover-daken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  pointer-events: none;
  -webkit-animation-name: kf-image-show;
          animation-name: kf-image-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.hover-daken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

html {
  line-height: 1;
}

body {
  font-family: 'Lato', 'Noto Sans JP',sans-serif;
}

img {
  max-width: 100%;
}

ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: #070707;
}

section, footer {
  text-align: center;
}

button {
  border: none;
  margin: 0;
  outline: none !important;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-md, .skill__myAbility:first-of-type, .footer__inner, .footer__contents, .footer__list {
  margin-bottom: 40px !important;
}

.mb-lr {
  margin-bottom: 80px !important;
}

.pb-lr, .skill, .works__inner {
  padding-bottom: 80px;
}

.font-sm, .skill__myAbility:last-of-type, .works__subtitle, .works__name {
  font-size: 16px;
  color: #070707;
}

.font-md, .keyvisual__subtitle, .footer__sentence {
  font-size: 18px;
  color: #070707;
}

.font-lr, .navigation-font, .skill__title {
  font-size: 20px;
  color: #070707;
}

.main-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  color: #070707;
  padding: 80px 0;
  margin: 0;
}

.navigation-font {
  display: block;
  color: #070707;
  font-weight: 300;
}

.pc-image, .logo__namePc, .skill__myAbility:first-of-type, .skill__imagePC {
  display: none;
}

.sp-image, .logo__nameSp, .skill__myAbility:last-of-type, .skill__imageSP {
  display: block;
}

.content-width, .header__inner, .skill__header, .works__header {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex, .logo, .header__inner, .skill__container, .works__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__icon {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo__nameSp {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ecf7f8;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 200;
}

.header__nav {
  display: none;
}

.header__inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyvisual {
  width: 100%;
  height: 334px;
  overflow: hidden;
  position: relative;
}

.keyvisual__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.keyvisual__container {
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.keyvisual__cover {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #fff;
  opacity: 0.5;
  margin: 0px 20px;
  width: 90%;
  height: 65%;
  z-index: -200;
}

.keyvisual__title {
  font-size: 28px;
  margin: 0;
  padding: 80px 0px 40px 36px;
  text-align: left;
  line-height: 1.2;
}

.keyvisual__subtitle {
  padding: 0px 36px 40px 0px;
  margin: 0;
  line-height: 1.5;
  text-align: right;
  font-weight: 400;
}

.aboutMe__inner {
  margin: 0 20px 80px 20px;
  background-color: #ecf7f8;
}

.aboutMe__intro {
  padding: 60px 20px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.7;
  height: 100%;
  letter-spacing: 0.07em;
  text-align: left;
}

.skill {
  position: relative;
}

.skill::before {
  content: "";
  background-image: url(../../image/background/back-ground-sp.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: -100;
}

.skill__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 20px;
}

.skill__myAbility {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill__myAbility:last-of-type {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 0;
  line-height: 2;
}

.skill__title {
  margin: 0 auto 24px auto;
  font-weight: 600;
}

.skill__imageSP {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.works {
  background-color: #ecf7f8;
}

.works__subtitle {
  font-weight: 400;
  margin-bottom: 40px;
}

.works__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works__sites {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.works__sites:last-of-type {
  margin-top: 40px;
}

.works__item {
  width: 100%;
  height: 532px;
}

.works__itemApp {
  width: 100%;
  height: 532px;
}

.works__mywork {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works__name {
  background-color: #b0e0e6;
  width: 100%;
  height: 64px;
  text-align: center;
  padding: 24px 0;
}

.works__name:hover {
  opacity: 0.5;
}

.footer__sentence {
  margin: 0 auto;
  line-height: 1;
}

.footer__copyright {
  font-size: 12px;
  letter-spacing: 0.05em;
}

.footer__icon {
  width: 100%;
  height: 100%;
}

.footer__icon:first-of-type {
  padding-bottom: 24px;
}

.image-icon__facebook {
  display: block;
  width: 16%;
  height: 16%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.image-icon__insta {
  display: block;
  width: 20%;
  height: 20%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.pageTop {
  position: relative;
}

.pageTop__image {
  display: block;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: 20px;
  bottom: 50px;
}

.pageTop__image:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media screen and (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .keyvisual__cover {
    margin: 0px 40px;
  }
  .keyvisual__title {
    padding: 88px 0px 40px 72px;
  }
  .keyvisual__subtitle {
    padding: 0px 72px 40px 0px;
  }
  .skill::before {
    background-image: url(../../image/background/back-groundTablet.png);
  }
  .works__sites:last-of-type {
    margin-top: 300px;
  }
  .works__item {
    height: 100%;
  }
  .works__itemApp {
    height: 100%;
  }
}

@media screen and (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のタブレットやモニタで適用

******************************************************************/
  .mb-sm {
    margin-bottom: 24px !important;
  }
  .mb-md, .skill__myAbility:first-of-type, .footer__inner, .footer__contents, .footer__list {
    margin-bottom: 48px !important;
  }
  .mb-lr {
    margin-bottom: 80px !important;
  }
  .font-lr, .navigation-font, .skill__title {
    font-size: 24px;
  }
  .sp-image, .logo__nameSp, .skill__myAbility:last-of-type, .skill__imageSP {
    display: none;
  }
  .pc-image, .logo__namePc, .skill__myAbility:first-of-type, .skill__imagePC {
    display: block;
  }
  .main-title {
    font-size: 40px;
  }
  .logo__icon {
    width: 96px;
    height: 96px;
  }
  .logo__namePc {
    font-size: 28px;
    font-weight: 600;
    color: #070707;
    padding-left: 14px;
  }
  .header {
    height: 100px;
  }
  .header__nav {
    display: block;
  }
  .header__inner {
    width: 100%;
    max-width: 100%;
    margin: 0 24px;
  }
  .header__navigationList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__list {
    padding-left: 14px;
  }
  .header__list:first-of-type {
    padding-left: 0;
  }
  .hamburger-menu__button {
    display: none;
  }
  .keyvisual {
    height: 880px;
  }
  .keyvisual__container {
    top: 25%;
    width: 100%;
    height: 50%;
    margin: 0px 24px;
  }
  .keyvisual__cover {
    top: 0%;
    margin: 0px;
    width: 96%;
    height: 370px;
  }
  .keyvisual__title {
    font-size: 64px;
    padding: 80px 0px 48px 24px;
  }
  .keyvisual__subtitle {
    width: 96%;
    padding: 0px 48px 80px 24px;
    font-size: 30px;
    line-height: 1;
  }
  .aboutMe__inner {
    margin: 0 160px 80px 160px;
  }
  .aboutMe__intro {
    padding: 80px;
    font-size: 16px;
    text-align: left;
  }
  .skill::before {
    background-image: url(../../image/background/back-ground-PC3.png);
    background-position: center center;
  }
  .skill__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 36px;
  }
  .skill__myAbility {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .skill__myAbility:first-of-type {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 16px;
    line-height: 2;
  }
  .skill__imagePC {
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
  }
  .works__inner {
    padding-bottom: 0;
  }
  .works__subtitle {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .works__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 100%;
  }
  .works__sites {
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
    height: 100%;
    margin: 0 40px;
  }
  .works__sites:last-of-type {
    margin-top: 0px;
    margin-left: 0px;
  }
  .works__item, .works__itemApp {
    height: 80%;
  }
  .works__mywork {
    height: 100%;
  }
  .works__name {
    font-size: 12.21px;
    height: 64px;
    margin-bottom: 80px;
  }
  .footer__sentence {
    font-size: 22px;
    margin: 0;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
  .footer__icon {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
  }
  .footer__icon:first-of-type {
    padding: 0px;
  }
  .image-icon__facebook {
    margin-right: 48px;
  }
  .image-icon__insta {
    margin: 0;
  }
  .pageTop__image {
    width: 64px;
    height: 64px;
    right: 30px;
    bottom: 90px;
  }
}

@media screen and (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のPCで適用

******************************************************************/
  .works__sites {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (-webkit-device-pixel-ratio: 2) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}
/*# sourceMappingURL=style.css.map */